html,
body,
.view {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #19202b;
    font-weight: 400;
}

.view {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url(../img/slowburner-background-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
}

p {
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

/* Generic */
.capital-letters {
    text-transform: uppercase;
}

.text-centered {
    text-align: center;
}

hr {
    background: #fff;
    height: 1px;
}

/* Margins */
.big-top-margin {
    margin-top: 20vh;
}

.huge-top-margin {
    margin-top: 25vh; 
}

/* Text size */
.tiny-text {
    font-size: 6px;
}

.small-text {
    font-size: 8px;
}

.normal-text {
    font-size: 12px;
}

.big-text {
    font-size: 14px;
}

.huge-text {
    font-size: 20px;
}

/* Text kerning size */
.normal-kerning {
    letter-spacing: 0px;
}

.big-kerning {
    letter-spacing: 1px;
}

.huge-kerning {
    letter-spacing: 2px;
}

/* Bold */
.bold {
   font-weight: 700; 
}

/* Social icons*/
/* bandcamp */
.bandcamp-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) 0 37px;
}

.bandcamp-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) 0 0;
}

/* soundcloud */
.soundcloud-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -37px 37px;
}

.soundcloud-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -37px 0;
}

/* facebook */
.facebook-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -74px 37px;
}

.facebook-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -74px 0;
}

/* instagram */
.instagram-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -111px 37px;
}

.instagram-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -111px 0;
}

/* twitter */
.twitter-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -148px 37px;
}

.twitter-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -148px 0;
}

/* youtube */
.youtube-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -185px 37px;
}

.youtube-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -185px 0;
}

/* vimeo */
.vimeo-icon {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -222px 37px;
}

.vimeo-icon:hover {
    width: 37px;
    height: 37px;
    background: url(../img/social-icons-37x37.png) -222px 0;
}

/* Footer */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow:hidden;
}

footer p {
    font-size: 8px;
    letter-spacing: 0px;
    color: #416b7d;
    text-align: center;
}


/*Media queries*/
@media (min-width: 480px) and (orientation: landscape) {
    .big-top-margin {
        margin-top: 10vh;
    }

    .huge-top-margin {
        margin-top: 15vh; 
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .big-top-margin {
        margin-top: 15vh;
    }

    .huge-top-margin {
        margin-top: 30vh; 
    }
    .tiny-text {
        font-size: 11px;
    }

    .small-text {
        font-size: 13px;
    }

    .normal-text {
        font-size: 17px;
    }

    .big-text {
        font-size: 19px;
    }

    .huge-text {
        font-size: 25px;
    }
    
    /* bandcamp */
    .bandcamp-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) 0 60px;
    }

    .bandcamp-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) 0 0;
    }

    /* soundcloud */
    .soundcloud-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -60px 60px;
    }

    .soundcloud-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -60px 0;
    }

    /* facebook */
    .facebook-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -120px 60px;
    }

    .facebook-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -120px 0;
    }

    /* instagram */
    .instagram-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -180px 60px;
    }

    .instagram-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -180px 0;
    }

    /* twitter */
    .twitter-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -240px 60px;
    }

    .twitter-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -240px 0;
    }

    /* youtube */
    .youtube-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -300px 60px;
    }

    .youtube-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -300px 0;
    }

    /* vimeo */
    .vimeo-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -360px 60px;
    }

    .vimeo-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -360px 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* bandcamp */
    .bandcamp-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) 0 60px;
    }

    .bandcamp-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) 0 0;
    }

    /* soundcloud */
    .soundcloud-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -60px 60px;
    }

    .soundcloud-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -60px 0;
    }

    /* facebook */
    .facebook-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -120px 60px;
    }

    .facebook-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -120px 0;
    }

    /* instagram */
    .instagram-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -180px 60px;
    }

    .instagram-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -180px 0;
    }

    /* twitter */
    .twitter-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -240px 60px;
    }

    .twitter-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -240px 0;
    }

    /* youtube */
    .youtube-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -300px 60px;
    }

    .youtube-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -300px 0;
    }

    /* vimeo */
    .vimeo-icon {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -360px 60px;
    }

    .vimeo-icon:hover {
        width: 60px;
        height: 60px;
        background: url(../img/social-icons-60x60.png) -360px 0;
    }
}

@media (min-width: 992px) and (orientation: landscape) { 
    .big-top-margin {
        margin-top: 15vh;
    }

    .huge-top-margin {
        margin-top: 30vh; 
    }
    
    .tiny-text {
        font-size: 11px;
    }

    .small-text {
        font-size: 13px;
    }

    .normal-text {
        font-size: 17px;
    }

    .big-text {
        font-size: 19px;
    }

    .huge-text {
        font-size: 25px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {   
    /* Margins */
    .big-top-margin {
        margin-top: 15vh;
    }

    .huge-top-margin {
        margin-top: 30vh; 
    }

    .tiny-text {
        font-size: 11px;
    }

    .small-text {
        font-size: 13px;
    }

    .normal-text {
        font-size: 17px;
    }

    .big-text {
        font-size: 19px;
    }

    .huge-text {
        font-size: 25px;
    }

    /* Text kerning size */
    .normal-kerning {
        letter-spacing: 0px;
    }

    .big-kerning {
        letter-spacing: 1px;
    }

    .huge-kerning {
        letter-spacing: 2px;
    }
}